body {
  background-color: #f6f5f4;
  background-repeat: repeat-y;
  background-size: 100%;
}

header {
  background-color: #111111;
  margin-bottom: 10px;
}

h1,
p,
button {
  font-family: monospace;
  color: #111111;
}

h1 {
  color: #e4da54;
  text-align: center;
  font-size: 27px;
  padding: 15px;
  margin: 0;
}

p {
  font-size: 17px;
  text-align: center;
}

ul {
  text-align: center;
  margin: 10px;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-size: 19px;
  margin: auto;
  display: block;
  border-color: #bb591d;
  padding: 7px;
}

.submit {
  border-color: #bb591d;
  padding: 5px;
}

.gif {
  border: 2px solid #bb591d;
  text-align: center;
  display: block;
  margin: auto;
  width: 90%;
}

.box {
  width: 90%;
  border: 2px solid #bb591d;
  margin: 10px auto;
  padding: 9px 9px 19px 9px;
  background-color: #ffffff;
}

form {
  text-align: center;
}

/* HIDE RADIO */
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
  width: 100%;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  outline: 2px solid #f00;
}

.selected {
  filter: brightness(150%);
}

.red-bg {
  flex: auto;
  max-width: 700px;
  max-height: 175px;
  margin-top: 0;
  background-color: #f55255;
}

.orange-bg {
  flex: auto;
  max-width: 700px;
  max-height: 175px;
  margin-top: -17px;
  background-color: #ffd150;
}

.green-bg {
  flex: auto;
  max-width: 700px;
  max-height: 175px;
  margin-top: -17px;
  background-color: #2bc22b;
}

.blue-bg {
  flex: auto;
  max-width: 700px;
  max-height: 175px;
  margin-top: -17px;
  background-color: #3aa7f9;
}

/* Your styles should be mobile-first and responsive */

@media (min-width: 700px) {
  .box {
    width: 63%;
    padding: 15px 15px 25px 15px;
  }
  .gif {
    width: 40%;
  }
  [type='radio'] + img {
    cursor: pointer;
    width: 40%;
  }
  .orange-bg,
  .blue-bg,
  .green-bg {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .box {
    width: 40%;
    padding: 15px 15px 25px 15px;
  }
  .gif {
    width: 33%;
  }
  [type='radio'] + img {
    cursor: pointer;
    width: 33%;
  }
}
